flask==3.1.2
flask-cors==6.0.1
gunicorn==20.1.0

faiss-cpu==1.12.0
numpy==2.0.2
voila

pydantic==2.11.9
vaderSentiment==3.3.2
rapidfuzz==3.14.1

langchain-core==0.3.76
langchain-community==0.3.30
langchain-openai==0.3.33
langchain-google-genai==2.1.12

langgraph==0.6.7  # adjust version as per your import
typing-extensions==4.15.0

# Frontend / utility libs
streamlit
requests
pyngrok
