voila==0.5.5
jupyter==1.0.0
ipywidgets==8.1.2
faiss-cpu==1.8.0.post1
langchain==0.2.11
langchain-community==0.2.10
langchain-core==0.2.23
langchain-openai==0.1.7
openai==1.35.3
tiktoken==0.7.0
numpy==1.26.4
pandas==2.2.2
